.tips {
  margin: 10px;
  color: rgb(133, 133, 133);
  display: block;
}

.tips:hover {
  color: rgb(5, 124, 204);
  cursor: pointer;
}

.btn-full {
  width: 100%;
}

.main-layout {
  width: 70%;
  height: 550px;
  margin: 0 auto;
}
