.tips {
  margin: 10px;
  /* color: rgb(133, 133, 133); */
  display: block;
}

.tips:hover {
  color: rgb(241, 179, 98);
  cursor: pointer;
}

.btn-full {
  width: 100%;
}

.main-layout {
  width: 70%;
  height: 550px;
  margin: 0 auto;
}
.back {
  float: left;
}
.tab-card {
  height: 500px;
}
